@page
@model CreateUserStoryModel
@inject UserStoryService service
@{
    ViewData["Title"] = "CreateUserStory";
}
<h1>Create User Story</h1>

<form method="post">
    @if (Model.errorMessage.Length > 0)
    {
        <div>
            <label class="text-danger">ID findes allerede</label>
        </div>
    }
    <div>
        <label asp-for="@Model.UserStory.Title" class="control-label">Title</label><p></p>
        <input asp-for="@Model.UserStory.Title" class="form-control"/>
        <span asp-validation-for="@Model.UserStory.Title" class="text-danger"></span>
    </div>
    <p></p>
    <div class="form-group">
        <label asp-for="@Model.UserStory.Description" class="custom-control-label">Description</label>
        <textarea asp-for="@Model.UserStory.Description" cols="120" class="form-control">
        </textarea>
        <span asp-validation-for="@Model.UserStory.Description" class="text-danger"></span>
    </div>
    <p></p>
    <div>
        <label class="custom-control-label">Business Values</label><br/>
        @foreach(var b in Model.BusinessValues){
        <input name="AreChecked" type="checkbox" value="@b" /> @b<br/>
        }
        <span asp-validation-for="@Model.UserStory.BusinessValue" class="text-danger"></span>
    </div>
    <p></p>
    <div>
        <label asp-for="@Model.UserStory.CreationDate" class="control-label">Creation time</label>
        <input asp-for="@Model.UserStory.CreationDate" class="form-control" />
        <span asp-validation-for="@Model.UserStory.CreationDate" class="text-danger"></span>
    </div>
    <p></p>
    <div>
        <label class="custom-control-label">Priority</label><br>
        @foreach(var p in Model.PriorityValues){
            <input type="radio" asp-for="@Model.UserStory.Priority" value="@p" /> @p <br/>
        }
        <span asp-validation-for="@Model.UserStory.Priority" class="text-danger"></span>
    </div>
    <p></p>
    <div>
        <label class="custom-control-label">Story Points</label><br/>
        <select id="StoryPoint" name="StoryPoint" asp-for="StoryPoint" class="form-control">
            @foreach(var sp in Model.StoryPoints){
                <option value="@sp">@sp</option>
            }
        </select>
        <span asp-validation-for="@Model.UserStory.StoryPoint" class="text-danger"></span>
    </div>
    <p></p>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn brn-primary" />
    </div>
    <div>
        <a asp-page="UserStories">Back to user stories</a>
    </div>
</form>
